<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="">

    <title>Forum</title>
    <!-- Scripts -->
    <script src="" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link href="{{ asset('css/boostrap.css') }}" rel="stylesheet">


</head>
<body>
<div id="app">
    {{ include('@App/nav.html.twig') }}
    <main class="py-4">
        {% block body %}
        {% endblock %}
    </main>
</div>
</body>
</html>
